.section {
  background-image: url("iconizer-2104434-8bc34a.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 99vw;
}

.card {
  background-color: #dad7cd;
  color: black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10px;
  width: 30vw;
  display: flex;
  flex-direction: column;
}

.actions {
  display: flex;
  flex-direction: column;
  width: 20%;
}

@media (max-width: 991.98px) {
  .card {
    width: fit-content;
  }
}
