.form_submit {
    background-color: #e7b434;
    color: white;
    border: none;
    border-radius: 2px;
    width: 43%;
    height: 5vh;
    margin-top: 2vh;
    margin-bottom: 3vh;
    font-size: 16px;
    letter-spacing: 0.1em;
    text-shadow: 1px 1px 2px black;
}

.form_submit:hover {
    background-color: #ca9818;
    cursor: pointer;
}