.button_delete {
  background-color: #3a5a40;
  color: white;
  border: none;
  border-radius: 3px;
  width: 43%;
  height: 5vh;
  margin-top: 2vh;
  margin-bottom: 3vh;
  font-size: 16px;
  letter-spacing: 0.1em;
  margin-left: auto;
  margin-right: auto;
}

.button_delete:hover {
  background-color: #588157;
  cursor: pointer;
  transition: 2s;
}
