.header {
  display: flex;
  width: 60%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5vh;
}

.header_link {
  margin-top: 0px;
  padding-top: 10px;
  font-size: 20px;
  font-weight: 400;
  color: black;
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: transform 0.5s;
}

.header_link:hover {
  color: #3a5a40;
  transition: 2s;
}

.logo {
  align-self: start;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

@media (max-width: 991.98px) {
  .header {
    width: 90%;
  }
  .logo {
    display: none;
  }
  .nav {
    flex-direction: column;
  }
  .link {
    width: auto;
  }
}
