.formInput {
  height: 4vh;
  background-color: #dad7cd;
  border: none;
  width: 15vw;
  margin-top: 2vh;
  color: black;
}

.formInput::placeholder {
  color: black;
}

.wrapper {
  display: flex;
  align-items: center;
  width: 120%;
  justify-content: center;
}

@media (max-width: 991.98px) {
  .formInput {
    width: 90%;
  }

  .wrapper {
    width: 90%;
    justify-content: left;
  }
}
