* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
html {
  height: 100%;
  overflow-x: hidden;
}
ul {
  list-style: none;
}
body {
  min-height: 100%;
  background: #dad7cd;
  background-image: url("iconizer-rectangle51.svg");
  background-size: 600px auto; /* from vh to %*/
  background-position: 100% 0; /*from 70 to 100*/
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}
.app {
  position: relative;
  /*
  width: 100vw;
  height: 100vh;
  background-image: url("iconizer-rectangle51.svg");
  background-size: 50%; from vh to %
  background-position: 100% 0; from 70 to 100
  background-repeat: no-repeat;
  overflow-x: hidden;*/
}

.picture {
  position: absolute;
  z-index: -1;
  background-image: url("bike22.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 700px; /*500*/
  height: 500px; /*300*/
  left: 36%; /*36*/
  top: 38%;
}

header {
  display: flex;
}

.nav_panel {
  margin-top: 30px;
  margin-left: auto;
  margin-right: 50px;
}

.list_page {
  display: flex;
  gap: 15px;
}

h1 {
  margin-top: 50px;
  margin-left: 50px;

  font-size: 3em;
}

.link_page {
  color: black;
  font-size: 20px;
}

.link_page:hover {
  color: #3a5a40;
}

.main {
  margin-top: 20px;
}

.text_main {
  color: #344e41;
  width: 400px;
  margin-left: 35px;
  padding-top: 10px;
  margin-bottom: 30px;
}

.text_main:nth-child(2) {
  margin-left: 50px;
}

.forms_main {
  margin-left: 30px;
}

.link_main {
  margin-left: 20px;
  display: inline-block;
  background: #3a5a40;
  color: #fff;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 10px;
}

.head_text {
  margin-bottom: 15px;
  margin-top: 15px;
}

/*mobile*/
@media (max-width: 1024px) {
  body {
    background-image: url("iconizer-2104434-8bc34a.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .picture {
    display: none;
  }
  .nav_panel {
    margin-right: 10px;
    margin-top: 20px;
  }
  .list_page {
    display: flex;
    gap: 20px;
  }
  .text_main {
    color: black;
    font-weight: 500;
    width: fit-content;
    margin-left: 15px;
    padding: 10px;
    margin-bottom: 20px;
  }
  .text_main:nth-child(2) {
    margin-left: 15px;
  }

  .link_page {
    font-size: 15px;
    white-space: nowrap;
  }
  .link_main {
    margin-left: 15px;
  }
}

/*
footer {
  margin-top: 50px;
}
*/
/*.nav_panel_footer {
  display: flex;
}
*/
/*.main {
  width: 100vw;
  background-image: url("bike22.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 70% 0;
  width: 500px;
  height: 300px;
}
*/
