.officers_section {
  position: absolute;
  display: flex;
  height: max-content;
  width: 100%;
  margin-top: 30px;
  background-color: #dad7cd;
}

.officers_page {
  margin: 0px;
}

.officers_heading {
  margin: 0px;
  padding-top: 30px;
  padding-bottom: 50px;
  font-size: 2em;
  font-weight: 400;
  letter-spacing: 0.1rem;
  color: #344e41;
  text-align: center;
}

.main_item {
  color: #344e41;
}
.sub_menu {
  display: none;
  color: #344e41;
}
.main_item:focus ~ .sub_menu,
.main_item:active ~ .sub_menu,
.sub_menu:hover {
  display: block;
}

.officers {
  display: flex;
  flex-direction: column;
  width: 66vw;
  margin-top: 0px;
  margin-left: 20px;
  color: #344e41;
}

.heading {
  margin-top: 5vh;
  font-weight: 400;
  letter-spacing: 0.1rem;
}

.list {
  list-style-type: none;
  display: flex;
  max-height: 88vh;
}

.button_create {
  position: absolute;
  left: 78%;
  width: 10vw;
  margin-top: 5vh;
  padding: 12px 10px;
  background-color: #588157;
  border: none;
  border-radius: 5px;
}
.button_create:hover {
  background-color: #a3b18a;
  cursor: pointer;
}

.officers_link {
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px 2px black;
  font-size: 16px;
}

@media (max-width: 991.98px) {
  .officers_section {
    height: fit-content;
  }
  .list {
    flex-flow: column nowrap;
    max-height: fit-content;
  }
  .button_create {
    left: 50vw;
    width: fit-content;
  }
}
